<%- include ("../partials/header") %>

<h1>Research</h1>

<img src="">

<h2>Research Areas</h2>
<div class="row1-container">
    <div class="box box-down cyan">
      <h3>Name Of The Research Area1</h3>
      <p>About the Research Area</p>
      <img src="" alt="">
    </div>
<hr>
    <div class="box red">
      <h3>Name of The Research Area2</h3>
      <p>About The Research Area</p>
      <img src="" alt="">
    </div>
</div>

<hr>

<div class="header">
    <h1>Highlited Researches & Students</h1>
    <h1></h1>
  </div>
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sed tempore eligendi distinctio doloremque dignissimos similique beatae nesciunt quos. Consequuntur enim quae qui rerum ea, quas dicta numquam dolorum ratione.</p>
      <img src="" alt="">
    </div>

    <div class="box red">
      <h2>Name</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora sapiente voluptates dolor ab sed, quidem voluptatum, at rerum ut nesciunt magnam debitis ea quam dolores consectetur, libero molestias autem reiciendis.</p>
      <img src="" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Name</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem odit distinctio itaque fuga culpa ducimus voluptatem saepe, cumque recusandae labore autem minima hic velit vero, maiores asperiores? Vero, dolorem corrupti.</p>
      <img src="" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores animi dolores necessitatibus cupiditate quidem quasi hic architecto libero ad tempora voluptatibus nam, quibusdam dolorem assumenda molestiae voluptates et praesentium porro!</p>
      <img src="" alt="">
    </div>
  </div>
  
  <hr>

<div class="main-container">
    <div class="heading">
      <h2 class="heading__title">LABS DESCRIPTION</h2>
      <p class="heading__credits"><a class="heading__link" target="_blank" href=""></a></p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"></div>
        <p class="card__exit"></p>
        <h3 class="card__title">Lab Name</h3>
        <p class="card__apply">
          <a class="card__link" href="#">Read More</a>
        </p>
      </div>
      <div class="card card-2">
        <div class="card__icon"></div>
        <p class="card__exit"></p>
        <h3 class="card__title">Lab Name</h3>
        <p class="card__apply">
          <a class="card__link" href="#">Read More</a>
        </p>
      </div>
    </div>
</div>


<script>
    document.title = "CCE | Research";
</script>
<%- include ("../partials/footer") %>