<%- include ("../partials/header") %>

<h1>Research</h1>

<img src="">


<div class="main-container">
    <div class="heading">
      <h1 class="heading__title">RESEARCH AREAS</h1>
      <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by Simon Lurwer on Dribbble</a></p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Read More<i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Read More<i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
</div>

<hr>

<div class="header">
    <h1>Highlited Researches & Students</h1>
    <h1></h1>
  </div>
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Supervisor</h2>
      <p>Monitors activity to identify project roadblocks</p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Team Builder</h2>
      <p>Scans our talent network to create the optimal team for your project</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Calculator</h2>
      <p>Uses data from past projects to provide better delivery estimates</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Karma</h2>
      <p>Regularly evaluates our talent to ensure quality</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
  
  <hr>

<div class="main-container">
    <div class="heading">
      <h2 class="heading__title">LABS DESCRIPTION</h2>
      <p class="heading__credits"><a class="heading__link" target="_blank" href="https://dribbble.com/sl">Design by Simon Lurwer on Dribbble</a></p>
    </div>
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Read More<i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
      <div class="card card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
        <p class="card__apply">
          <a class="card__link" href="#">Read More<i class="fas fa-arrow-right"></i></a>
        </p>
      </div>
    </div>
</div>


<script>
    document.title = "CCE | Research";
</script>
<%- include ("../partials/footer") %>