
<footer>
    <img src="../images/logoFull.png" alt="">
    <hr class="foot">
    <div class="fContainer">
        <p>Dehmi Kalan, Off Jaipur-Ajmer Expressway, Jaipur, Rajasthan-303007 <br> Phone: +91 141-3999100</p>
        <ul>
            <li><a href="">external link</a></li>
            <li><a href="">external link</a></li>
            <li><a href="">external link</a></li>
            <li><a href="">external link</a></li>
            <li><a href="">external link</a></li>
        </ul>
        <p>
            Connect with us<br>
            <a href="https://www.facebook.com/manipal.university/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/Jaipur_Manipal"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCFbeX4UJyd4fHTCnCVGob_Q"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.linkedin.com/in/manipal-university-jaipur-4a56a310a/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/jaipurmanipal/?hl=en"><i class="fa-brands fa-instagram"></i></a>
        </p>

        <!-- <div class="row">
            <div class="column left">
                <p>sections</p>
            </div>

            <div class="column middle">
                <p>
                    Connect with us<br>
                    <a href="https://www.facebook.com/manipal.university/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/Jaipur_Manipal"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCFbeX4UJyd4fHTCnCVGob_Q"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/in/manipal-university-jaipur-4a56a310a/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/jaipurmanipal/?hl=en"><i class="fa-brands fa-instagram"></i></a>
                </p>
            </div>

            <div class="column right">
                <p>sections</p>
            </div>
        </div> -->
    </div>
    
</footer>


<!-- -> Footer                                                                   (footer)
        -> contact details
        -> address
        -> links to legal stuff -->

<script src="../js/script.js"></script>
</body>
</html>