	<footer>    
		<div class="card bgcol text-center">
			<img src="../images/logoFull.png" class="card-img-top mx-auto border-bottom rounded" style="width: 350px;" alt="...">
			<div class="card-body">
				<p class="card-text border-top rounded">
					Dehmi Kalan, Off Jaipur-Ajmer Expressway, Jaipur, Rajasthan-303007 <br> Phone: +91 141-3999100
				</p>

				<ul class="d-flex justify-content-around">
					<li><a href="">external link</a></li>
					<li><a href="">external link</a></li>
					<li><a href="">external link</a></li>
					<li><a href="">external link</a></li>
					<li><a href="">external link</a></li>
				</ul>

				<p class="card-text">
					<small>Connect with us :</small>
					<br>
					<a class="mx-3" href="https://www.facebook.com/manipal.university/"><i class="fa-brands fa-facebook"></i></a>
					<a class="mx-3" href="https://twitter.com/Jaipur_Manipal"><i class="fa-brands fa-twitter"></i></a>
					<a class="mx-3" href="https://www.youtube.com/channel/UCFbeX4UJyd4fHTCnCVGob_Q"><i class="fa-brands fa-youtube"></i></a>
					<a class="mx-3" href="https://www.linkedin.com/in/manipal-university-jaipur-4a56a310a/"><i class="fa-brands fa-linkedin"></i></a>
					<a class="mx-3" href="https://www.instagram.com/jaipurmanipal/?hl=en"><i class="fa-brands fa-instagram"></i></a>
				</p>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="../js/script.js"></script>

</body>
</html>