<%- include ("./partials/header") %>

<h1>Landing</h1>

<div class="container">
    <h1>News in highlightes</h1>

    <div class="slideshow">
        <h4>NEWS 1</h4>
        <div class="row">
            <div class="column">
                <p>hello</p>
            </div>
            <div class="column">
                <p>hello</p>
            </div>
        </div>
    </div>

    <div class="slideshow">
        <h4>NEWS 2</h4>
        <div class="row">
            <div class="column">
                <p>hello</p>
                <img src="" alt="img 1">
            </div>
            <div class="column">
                <p>hello</p>
            </div>
        </div>
    </div>

    <div class="slideshow">
        <h4>NEWS 3</h4>
        <div class="row">
            <div class="column">
                <p>hello</p>
            </div>
            <div class="column">
                <p>hello</p>
            </div>
        </div>
    </div>

    <div class="slideshow">
        <h4>NEWS 4</h4>
        <div class="row">
            <div class="column">
                <p>hello</p>
            </div>
            <div class="column">
                <p>hello</p>
            </div>
        </div>
    </div>
</div>




<%- include ("./partials/footer") %>