/* background-color: rgba(255, 19, 19, 0.87); */
/* background-color: rgba(218, 0, 0, 0.925); */

body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header h1, header h2, header p{
    font-family: 'Beau Rivage', cursive;
    display: inline;
    font-weight: 700;
}

h1 a, h2 a{
    color: black;
    text-decoration: none;
}

.bgcol{
    background-color: rgba(255, 19, 19, 0.87);
    color: white;
}




footer li a:link, footer li a:visited{
    text-decoration: none;
    color: white;
}

footer a:link, footer a:visited{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}