<%- include ("../partials/header") %>

<h1>People</h1>
<h2>Leadership</h2>
<p>Lines form the HOD</p>
<p>blahhh</p>

<h2>Faculty</h2>
<div class="container">
  <div class="card__container">
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 1</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read now</button>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 2</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read now</button>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 3</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read now</button>
      </div>
    </div>
  </div>
</div>

<h2>Research Staff/Lab Assistant</h2>
<ul>
  <li>SOFTWARE ENGINEERING LAB</li>
  <li>WEBTECH LAB</li>
  <li>LINUX LAB</li>
  <li>ATCD LAB</li>
  <li>AIML Lab</li>
</ul>



  <h2>Administrative Staff</h2>




  
<%- include ("../partials/footer") %>