<%- include ("../partials/header") %>

<h1>People</h1>
<h2>Leadership</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum, officiis expedita rerum doloremque natus sint impedit dignissimos qui voluptas corrupti fugit aliquam exercitationem molestias, labore repellendus reiciendis consequatur voluptatibus?</p>
<hr>
<h2>Faculty</h2>
<div class="container">
  <div class="card__container">
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 1</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read more</button>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 2</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read more</button>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 3</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read more</button>
      </div>
    </div>
  </div>
</div>
<hr>
<h2>Research Staff/Lab Assistant</h2>
<div class="container">
  <div class="card__container">
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 1</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read more</button>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 2</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read more</button>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <h3 class="card__header">Card 3</h3>
        <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="card__button">Read more</button>
      </div>
    </div>
  </div>
</div>
<hr>
  <h2>Administrative Staff</h2>
  <div class="container">
    <div class="card__container">
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 1</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read more</button>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 2</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read more</button>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 3</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read more</button>
        </div>
      </div>
    </div>
  </div>



  
<%- include ("../partials/footer") %>