<%- include ("../partials/header") %>

<div class="card text-center text-white mx-3 mt-1 mb-5">
  <img src="../images/muj.jpg" style="height: 600px;" class="card-img" alt="...">
  <div class="container card-img-overlay p-5">
    <h1 class="card-title p-5">About</h1>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fugit similique vitae eum dolor distinctio laudantium in harum, fuga aliquam obcaecati cumque laborum perferendis amet sapiente delectus corporis aliquid odio nobis, eos eius repudiandae excepturi. Nihil, exercitationem nobis veritatis pariatur corrupti modi nesciunt odio ipsa aperiam omnis architecto, nostrum est ut et unde, ullam nisi impedit fugit quia eos. Nulla.</p>
  </div>
</div>


<div class="card mx-3 mb-5">
  <h5 class="card-header">Overview of MUJ</h5>
  <div class="card-body">
    <p class="card-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque laboriosam adipisci eos et molestiae fugiat magni odio autem aperiam recusandae praesentium, in amet soluta distinctio ipsam deleniti rem. Atque fugiat ipsum, id laborum cumque repudiandae laboriosam temporibus amet maxime omnis consequuntur accusamus, magni vitae rerum eveniet deleniti nemo mollitia. Quidem!</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">

      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      
      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      
      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card mx-3 mb-5">
  <h5 class="card-header">Board of Management</h5>
  <div class="card-body">
    <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas vitae placeat ea temporibus, aut excepturi deleniti corporis consequuntur dolorem consequatur amet adipisci repudiandae recusandae rerum omnis maiores nisi quibusdam. Illo illum perspiciatis blanditiis harum iste pariatur esse, saepe natus dolorem.</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">

      <div class="col col-lg-4 col-md-12">
        <div class="card mx-auto" style="width: 350px">
          <img src="../images/demo.jpg" style="height: 250px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr Ramdas M Pai</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Chairperson Emeritus</small>
          </div>
        </div>
      </div>
      
      <div class="col col-lg-4 col-md-12">
        <div class="card mx-auto" style="width: 350px">
          <img src="../images/demo.jpg" style="height: 250px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mr S. Vaitheeswaran</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Chairperson</small>
          </div>
        </div>
      </div>

      <div class="col col-lg-4 col-md-12">
        <div class="card mx-auto" style="width: 350px">
          <img src="../images/demo.jpg" style="height: 250px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr Ranjan Pai</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Chairman, MEMG</small>
          </div>
        </div>
      </div>
      
      <div class="col col-lg-4 col-md-12">
        <div class="card mx-auto" style="width: 350px">
          <img src="../images/demo.jpg" style="height: 250px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr G K Prabhu</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">President</small>
          </div>
        </div>
      </div>

      <div class="col col-lg-4 col-md-12">
        <div class="card mx-auto" style="width: 350px">
          <img src="../images/demo.jpg" style="height: 250px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr N N Sharma</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Pro-President - MUJ</small>
          </div>
        </div>
      </div>
      
      <div class="col col-lg-4 col-md-12">
        <div class="card mx-auto" style="width: 350px">
          <img src="../images/demo.jpg" style="height: 250px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr Nitu Bhatnagar</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Registrar</small>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="card mx-3 mb-5">
  <h5 class="card-header">Department Clubs and Socities</h5>
  <div class="card-body">
    <p class="card-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque laboriosam adipisci eos et molestiae fugiat magni odio autem aperiam recusandae praesentium, in amet soluta distinctio ipsam deleniti rem. Atque fugiat ipsum, id laborum cumque repudiandae laboriosam temporibus amet maxime omnis consequuntur accusamus, magni vitae rerum eveniet deleniti nemo mollitia. Quidem!</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">

      <div class="col col-lg-4 col-md-12">
        <div class="card" style="width: 300px;">
          <img src="../images/demo.jpg" style="height: 220px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      
      <div class="col col-lg-4 col-md-12">
        <div class="card" style="width: 300px;">
          <img src="../images/demo.jpg" style="height: 220px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Subheading</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--IMAGE GALLERY CAROUSEL HERE-->














<script>
    document.title = "CCE | About";
</script>
<%- include ("../partials/footer") %>