<%- include ("../partials/header") %>

<h1>About</h1>

<h2>Overview</h2>
<div class="container">
    <div class="card__container">
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 1</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read now</button>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 2</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read now</button>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 3</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read now</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2>Diversity</h2>
  <div class="container">
    <div class="card__container">
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 1</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read now</button>
        </div>
      </div>
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 3</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read now</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2>Board Of Department</h2>
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Name</h2>
      <p>About the Board Member</p>
      <img src="" alt="">
    </div>

    <div class="box red">
      <h2>Name</h2>
      <p>About the Board Member</p>
      <img src="" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Name</h2>
      <p>About the Board Member</p>
      <img src="" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Name</h2>
      <p>About the Board Member</p>
      <img src="" alt="">
    </div>
  </div>

  <hr>

  <h2>Vision,Mission & Values</h2>

  <div class="container">
    <div class="card__container">
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 1</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read now</button>
        </div>
    </div>
    </div>
  </div>

  <hr>

  <h2>Letter From The HOD</h2>
  <div class="container">
    <div class="card__container">
      <div class="card">
        <div class="card__content">
          <h3 class="card__header">Card 1</h3>
          <p class="card__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="card__button">Read now</button>
        </div>
    </div>
    </div>
  </div>

  <hr>

<h2>Clubs & Societies</h2>
<div class="row1-container">
    <div class="box box-down cyan">
      <h3>Name Of The Club</h3>
      <p>About the Club</p>
      <img src="" alt="">
    </div>

    <div class="box red">
      <h3>Name Of The Club</h3>
      <p>About the Club</p>
      <img src="" alt="">
    </div>
</div>

<hr>

<!--IMAGE GALLERY CAROUSEL HERE-->


  



<script>
    document.title = "CCE | About";
</script>
<%- include ("../partials/footer") %>