<%- include ("../partials/header") %>

<h1>News & Academics</h1>

<%# carousel from home page here %>

<body>
    <h2>Talks & Events</h2>
    <ul class="tilesWrap">
        <li>
            <h2>01</h2>
            <h3>Title 1</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting   
                industry. Lorem Ipsum has been the industry's standard dummy text ever 
                since the 1500s.
            </p>
            <button>Read more</button>
        </li>
        <li>
            <h2>02</h2>
            <h3>Title 2</h3>
            <p>
                When an unknown printer took a galley of type and scrambled it to make 
                a type specimen book. It has survived not only five centuries.
            </p>
            <button>Read more</button>
        </li>
        <li>
            <h2>03</h2>
            <h3>Title 3</h3>
            <p>
                But also the leap into electronic typesetting, remaining essentially 
                unchanged. It was popularised in the 1960s.
            </p>
            <button>Read more</button>
        </li>
        <li>
            <h2>04</h2>
            <h3>Title 4</h3>
            <p>
                With the release of Letraset sheets containing Lorem Ipsum passages,  
                and more recently with desktop publishing software like Aldus PageMaker 
                including versions of Lorem Ipsum.
            </p>
            <button>Read more</button>
        </li>
    </ul>

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <title></title>
    <link rel="stylesheet" href="styles.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet">
  </head>
  
  <body>
    <div class="header">
      <h1>EVENT CALENDAR</h1>
      <h1></h1>
  
      <p>New events coming up..</p>
    </div>
    <div class="row1-container">
      <div class="box box-down cyan">
        <h2>Supervisor</h2>
        <p>Monitors activity to identify project roadblocks</p>
        <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
      </div>
  
      <div class="box red">
        <h2>Team Builder</h2>
        <p>Scans our talent network to create the optimal team for your project</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
  
      <div class="box box-down blue">
        <h2>Calculator</h2>
        <p>Uses data from past projects to provide better delivery estimates</p>
        <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h2>Karma</h2>
        <p>Regularly evaluates our talent to ensure quality</p>
        <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
      </div>
    </div>
    
    <h2>AWARDS</h2>
    <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <article class="blog-card">
              <div class="blog-card__background">
                <div class="card__background--wrapper">
                  <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                    <div class="card__background--layer"></div>
                  </div>
                </div>
              </div>
              <div class="blog-card__head">
                <span class="date__box">
                  <span class="date__day">11</span>
                  <span class="date__month">JAN</span>
                </span>
              </div>
              <div class="blog-card__info">
                <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
                <p>
                  <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                  <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      
      <section class="detail-page">
        <div class="container mt-5">
          
        </div>
      </section>
      <h2>PRESS RELEASE</h2>
      <div class="card-container">
        <div class="card card-1">
          <div class="card-img"></div>
          <a href="" class="card-link">
            <div class="card-img-hovered"></div>
          </a>
          <div class="card-info">
            <div class="card-about">
              <a class="card-tag tag-news">NEWS</a>
            <div class="card-time">6/11/2018</div>
            </div>
            <h1 class="card-title">There have been big Tesla accident at New Jersey</h1>
            <div class="card-creator">by <a href="">Sardorbek Usmonov</a></div>
          </div>
        </div>
        <div class="card card-2">
          <div class="card-img"></div>
          <a href="" class="card-link">
            <div class="card-img-hovered"></div>
          </a>
          <div class="card-info">
            <div class="card-about">
              <a class="card-tag">Tech</a>
            <div class="card-time">6/07/2018</div>
            </div>
            <h1 class="card-title">Samsung laptops is exploding again</h1>
            <div class="card-creator">by <a href="">Tyler Platt</a></div>
          </div>
        </div>
        <div class="card card-3">
          <div class="card-img"></div>
          <a href="" class="card-link">
            <div class="card-img-hovered"></div>
          </a>
          <div class="card-info">
            <div class="card-about">
              <a class="card-tag tag-deals">Deals</a>
            <div class="card-time">5/27/2018</div>
            </div>
            <h1 class="card-title">Apple is having big Sale for the first time</h1>
            <div class="card-creator">by <a href="">Timur Mirzoyev</a></div>
          </div>
        </div>
        <div class="card card-4">
          <div class="card-img"></div>
          <a href="" class="card-link">
            <div class="card-img-hovered"></div>
          </a>
          <div class="card-info">
            <div class="card-about">
              <a class="card-tag tag-politics">Politics</a>
            <div class="card-time">5/20/2018</div>
            </div>
            <h1 class="card-title">Net-Nutrality is coming to its end</h1>
            <div class="card-creator">by <a href="">Gregoy Trem</a></div>
          </div>
        </div>
      </div>
    </body>
<script>
    document.title = "CCE | News & Events";
</script>


<%- include ("../partials/footer") %>