<%- include ("../partials/header") %>

<h1>Alumni</h1>

<h2>ALUMNI STORIES</h2>
<div class="w3-card-4">

    <header class="w3-container w3-light-grey">
      <h3>John Doe</h3>
    </header>
    
    <div class="w3-container">
      <p>1 new friend request</p>
      <hr>
      <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle">
      <p>President/CEO at Mighty Schools...</p>
    </div>
    
    <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
    
    </div>

    <div class=container>
        <span class="count">71441670</span>
        <span class="count">2130735</span>
        <span class="count">4523383</span>
        <span class="count">9332313</span>
         </div>

<h2>TESTIMONIALS</h2>
<div class="row">
    <div class="column">
      <div class="card">bllllllllajjjjjj</div>
    </div>
    <div class="column">
      <div class="card">dkjnkcnsdjhcdjcd</div>
    </div>
    <div class="column">
      <div class="card">kjnckdnc</div>
    </div>
    <div class="column">
      <div class="card">wldknkjnskdc</div>
    </div>
  </div>

<script>
    document.title = "CCE | Alumni";
</script>
<%- include ("../partials/footer") %>